main {
  height: 1100px;
  border-bottom: 1px solid #000;
  margin-top: 250px;
}
.main_inner {
  width: 1200px;
  height: 1100px;
  margin: 0 auto;
}
.main_box {
  width: 594px;
  height: 844px;
  margin: 118px auto 0;
  /* background-color: coral; */
}
.main_box h2 {
  font-size: 32px;
  font-weight: bold;
  color: #303441;
  margin-bottom: 46px;
}
.profile_image_inner {
  width: 594px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 48px;
}
.profile_image {
  width: 88px;
  height: 88px;
  background-image: url(../images/cat.jpeg);
  border-radius: 50%;
}
.profile_image_inner input {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url(../images/mypage_camera.svg);
  position: absolute;
  top: 64px;
  right: 254px;
}
.profile_coupon {
  width: 594px;
  height: 54px;
  background-color: #fafafa;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 78px;
  position: relative;
}
.profile_coupon .coupon_img {
  width: 22px;
  height: 22px;
  margin-left: 12px;
}
.main_box h4 {
  font-size: 18px;
  color: #b5b5b5;
  font-weight: normal;
}
.main_box span {
  font-size: 18px;
  color: #323232;
}
.profile_name {
  width: 594px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 24px;
}
.main_box img {
  width: 12px;
  height: 11px;
  margin-right: 40px;
}
.profile_email {
  width: 594px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 24px;
}
.profile_pw {
  width: 594px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 24px;
}
.profile_number {
  width: 594px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 24px;
}
.profile_exit {
  width: 594px;
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
}
.profile_exit h4 {
  color: #323232;
  font-weight: bold;
}
.coupon_txt {
  font-weight: bold;
  margin-left: 12px;
}
img.coupon_img {
  margin-right: 0px;
}
.coupon_next {
  position: absolute;
  right: 0px;
  top: 22px;
}
