/* main */
main {
  height: 960px;
  border-bottom: 1px solid #000;
  margin-top: 250px;
}
.main_logo {
  width: 72px;
  height: 82px;
  background: url(../images/main_logo.jpg) no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  margin: 107px auto 32px;
}
.main_inner {
  width: 560px;
  height: 560px;
  box-sizing: border-box;
  border: 2px solid #ffd300;
  margin: 0 auto;
}
.main_box {
  width: 400px;
  height: 560px;
  /* background-color: #999; */
  margin: 56px auto;
}
.main_title {
  font-size: 32px;
  color: #323232;
  line-height: 48px;
  margin-bottom: 28px;
}
.main_txt1 {
  margin-bottom: 14px;
  color: #727585;
}
.main_txt2 {
  color: #727585;
}
.main_txt3 {
  font-size: 16px;
  font-weight: bold;
  color: #555969;
  margin: 52px 0 14px;
}
.main_txt4 {
  font-size: 16px;
  font-weight: bold;
  color: #555969;
  margin: 34px 0 14px;
}
input[type="radio"] {
  display: none;
}
main label {
  color: #303441;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #e4e5ed;
  padding: 20px 200px 20px 16px;
  display: flex;
  border-radius: 2px;
  align-items: center;
}
label img {
  width: 23px;
  height: 16px;
  margin-right: 12px;
}
.choose1 {
  display: none;
}
.choose2 {
  display: none;
}
.label1 {
  cursor: pointer;
}
.label2 {
  cursor: pointer;
}
.label1:hover {
  border: 1px solid #ffd300;
}
.label2:hover {
  border: 1px solid #ffd300;
}
